* {
  font-family: 'Poppins', sans-serif;
}
.button1 {
  background-color: #24026b;
  width: 160px;
  height: 56px;
}
.col1 {
  width: 50%;
}
.col2 {
  width: 50%;
}
.group1 .button2 {
  background-color: #24026b;
  margin-right: 15px;
}
.group1 button {
  width: 135px;
  height: 56px;
}
.produk-kami .row {
  margin-left: 20px;
}
.frame-produk {
  margin-left: 30px;
}
.layanan2 {
  margin-left: 150px;
}
input {
  width: 100%;
}
