body{
font-family: 'Poppins', sans-serif;
}
.hubungikami{
    width:160px;
    height: 56px;
    border: none;
    background-color: #24026B;
    color: #ffff;
    border-radius: 8px;
}
.hero h1{
    font-size: 48px;
    font-weight: 700;
}
.hero p{
    padding-top: 24px ;
}
.mulai{
    width: 135px;
    height: 56px;
    border: none;
    background-color: #24026B;
    color: #ffff;
    border-radius: 8px;
    margin-right: 24px;
}
.lihatproduk{
    width: 135px;
    height: 56px;
    border: none;
    background-color: #ffff;
    color: #000;
    border-radius: 8px;
    border: 2px solid #000;
}
.frame img{
    width:542px;
    height: 361px;
}
.lingkaran1{
    background-color: #FC66FF;
    color: #ffff;
    margin-left: -200px;
    width: 358px;
    height: 358px;
    border-radius: 50%;
}
.lingkaran2{
    background-color: #FC66FF;
    color: #ffff;
    float: right;
    margin-right:-200px;
    width: 358px;
    height: 358px;
    border-radius: 50%;
}